@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');

body{
    height:100%;
}
hr{
    border: 1px solid #e8e8e8;
    &:nth-of-type(3){margin-top:40px;}    
    @media(min-width: 1200px){
        width:1200px;
        margin:0 auto;
    }

}

.booking{
    display:none;
    margin: 46px 10px 62px 10px;
    @media(min-width:600px){
        width:100%;
        margin: 46px auto 62px auto;
        padding:0 10px 0 10px;

    }
    @media(min-width:1200px){
        width:1200px;
        padding: 0px;
    }
    .hello{
        font-size: 19px;
        font-weight: bold;
        span{
            font-size: 19px;
            font-weight: bold;
        }
        @media(min-width:980px){
            width:980px;
            margin: 0px auto;
        }
    }
    #booking_data-0{
        margin: 35px auto 40px auto;
        @media(min-width:980px){
            width:980px;
            
        }
    }
    #gobooking{
        margin: 100px auto 20px 100px;
        color: white;
        background-color: #448899;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        &:hover{
            box-shadow:0px 0px 10px 1px #2d9b85d7;
        }
    }
    #booking_data-1{
        
        margin: 35px auto 40px auto;
        
        .schedule{
            @media(min-width:600px) {
                display:flex;
                justify-content:space-between;
                margin: 35px auto 40px auto;
            }
            @media(min-width:980px){
                width:980px;

                
            }
            .schedule_figure{
                img{
                    width:100%;
                    height:256px;
                    margin:35px 0px;
                    object-fit:cover; object-position:center;
                    @media(min-width:600px) {
                        width:266px;
                        height:200px;
                        margin:0px;
                    
                    }
                }
            }
            .schedule_result{
                @media(min-width:600px){
                    margin-left:22px;
                    flex:auto;
                    
                }
                
                .schedule_result-title{
                    font-weight:bold;
                    color:#448899;
                    margin-bottom:30px;
                    span{
                        font-weight:bold;
                        color:#448899;
                    }
                }
                .schedule_result_form{
                    display:grid;
                    grid-template-columns:48px auto;
                    grid-column-gap:5px;
                    grid-row-gap: 15px;
                    align-items:center;
                    div:nth-child(odd){
                        font-weight:bold;
                    }
                }
            }
            .schedule_delete{
                height:30px;
                text-align:right;
                margin-top:5px;
                margin-bottom:30px;
                border-radius: 50%;
                cursor: pointer;
                
                img{
                    opacity:50%;
                    &:hover{
                        opacity:100%;
                    }
                }
            }
            
            
        }
        .input{
            @media(min-width:980px){
                width: 980px;
                margin: 0px auto;
            }
            h2{
                margin-top:44px;
                margin-bottom:24px;
                font-weight:bold;
            }
            .input_form{
                display:grid;
                grid-template-columns:81px 200px;
                grid-row-gap:15px;
                align-items:center;
                input{
                    border-style:solid;
                    border-width:1px;
                    border-color:#e8e8e8;
                    border-radius: 5px;
                    width:200px;
                    height:38px;
                    padding: 10px;
                    &:focus{
                        outline: none;
                    }
                }                
            }
            h3{
                margin-top:20px;
                margin-bottom:40px;
                font-weight:bold;
            }
            .card_form{
                display:grid;
                grid-template-columns:81px 200px;
                grid-row-gap:15px;
                grid-column-gap:10px;
                align-items:center;
                .tpfield{                       // 要設定為.tpfield才可以去更改版面設定
                    border: 1px solid #e8e8e8;
                    border-radius: 5px;
                    height: 38px;
                    padding: 10px;
                }
            }
            
        }
        
        .check{
            text-align:right;
            display:block;
            @media(min-width:980px){
                width: 980px;
                margin: 0px auto;
            }
            
            
            h3{
                margin-top:43px;
                margin-bottom:25px;
                font-weight:bold;
                span{
                    font-weight:bold;
                }
            }
            .check_button{
                display: flex;
                justify-content: flex-end;
                .check_button_text{
                    background-color:#448899;
                    color:white;
                    font-size:19px;
                    font-weight:100;
                    border-radius:5px;
                    border:none;
                    padding:10px 5px 10px 22px;
                    display: flex;
                    &:hover{
                        background-color:#3a717f;
                    }
                    &:disabled{
                        color:rgba(255, 255, 255, 0.466);
                    }
                    &:disabled:hover{
                        color:rgba(255, 255, 255, 0.466);
                        background-color:#448899;
                    } 
                    #loader_submit{
                        width: 15px;
                        height: 15px;
                        margin-left: 3px;
                        margin-top: 7px;
                        
                        .loader_submit{
                            display: none;
                            width: 15px;
                            height: 15px;
                            margin: auto ;
                            border-radius: 50%;
                            border: 3px solid white;
                            border-top:3px solid #66AABB;
                            animation: spin 1s infinite linear;
                        }
                        @keyframes spin {
                            0% { transform: rotate(40deg); }
                            50% { transform: rotate(200deg); }
                            100% { transform: rotate(400deg); }
                        }   
                    }        
                }
            }
            
            #inform_error{
                height: 34px;
                color: #e71837;
                padding-top: 10px;
                padding-right: 15px;
            }
        }
    }
    
}

#loader{
    display: block;
    width:80px;
    height: 80px;
    margin:50px auto;
    
    .loader{
        width: 40px;
        height: 40px;
        margin: auto ;
        border-radius: 50%;
        border: 6px solid white;
        border-top:6px solid #66AABB;
        animation: spin 1s infinite linear;
    }
    @keyframes spin {
        0% { transform: rotate(40deg); }
        50% { transform: rotate(200deg); }
        100% { transform: rotate(400deg); }
    }   
}
footer {
    background:#757575;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 0 50vh 0 50vh #757575;    //要搭配body{height:100%;}
}
