@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

// *{
//   box-sizing: border-box;
//   margin:0px; padding:0px;
//   font-family: 'Noto Sans TC', sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   color: #666666;
//   }

hr{
    border: 1px solid #e8e8e8;

}

.booking{
    margin: 46px 10px 62px 10px;
    .hello{
        font-size: 19px;
        font-weight: bold;
        @media(min-width:600px) {
            margin-bottom: 35px; 
        }
    }

    .schedule{
        @media(min-width:600px) {
            display:flex;
        
        
        }
        .schedule_figure{
            img{
                width:100%;
                height:256px;
                margin:7px 0px;
                object-fit:cover; object-position:center;
                @media(min-width:600px) {
                    img{
                        width:266px;
                        height:200px;
                    }
                }
            }
        }
        .schedule_result{
            .schedule_result-title{
                font-weight:bold;
                color:#448899;
                margin-bottom:30px;
            }
            .schedule_result_form{
                display:grid;
                grid-template-columns:48px 200px;
                grid-column-gap:5px;
                grid-row-gap: 20px;
            }
        }
        
        .schedule_delete{
            text-align:right;
            margin-top:5px;
            margin-bottom:30px;
        }
        
        
    }
    h2{
        margin-top:44px;
        margin-bottom:24px;
        font-weight:bold;
    }
    .booking_form{
        display:grid;
        grid-template-columns:81px 200px;
        grid-row-gap:15px;
        input{
            border-style:solid;
            border-width:1px;
            border-color:#e8e8e8;
            // border: 1px solid color #e8e8e8;
            border-radius: 5px;
            width:200px;
            height:38px;
            padding: 10px;
            
        }
        
    }
    h3{
        margin-top:20px;
        margin-bottom:40px;
        font-weight:bold;
    }
    .check{
        hr{margin-top:40px;}
        text-align:right;
        h3{
            margin-top:43px;
            margin-bottom:25px;
        }
        .check_button{
            background-color:#448899;
            color:white;
            font-size:19px;
            border-radius:5px;
            border:none;
            padding:10px 20px;
            
        }
    }
    
}

footer {
    margin-top: 10px;
    background:#757575;
    height:104px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    color: white;
}
