@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.out {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  z-index: 5;
}

.out .header {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .out .header {
    width: 100%;
  }
}

.out .header > a {
  padding: 10px 0px 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  color: #448899;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.out .header nav {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.out .header nav .nav__item {
  padding: 20px 10px;
  cursor: pointer;
}

.filter {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.filter .filter__block--signup {
  display: none;
}

.filter div[class^='filter__block--sign'] {
  position: fixed;
  z-index: 7;
  top: 80px;
  width: 340px;
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter div[class^='filter__block--sign'] .filter__block--top {
  height: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-image: -webkit-gradient(linear, right top, left top, from(#337788), to(#66AABB));
  background-image: linear-gradient(to left, #337788, #66AABB);
}

.filter div[class^='filter__block--sign'] .filter__block--title {
  width: 310px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 15px 15px 5px 15px;
}

.filter div[class^='filter__block--sign'] .filter__block--closebtn {
  position: absolute;
  z-index: 99;
  top: 27px;
  right: 17px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
}

.filter div[class^='filter__block--sign'] .filter__block--info {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  padding: 15px;
  margin: 10px 15px 0 15px;
  color: #666666;
}

.filter div[class^='filter__block--sign'] .filter__block--btn {
  margin: 10px 15px;
  width: 310px;
  height: 47px;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  color: #ffffff;
  background-color: #448899;
  cursor: pointer;
}

.filter div[class^='filter__block--sign'] div[class^='filter__block--errorMessage'] {
  margin: 0px 15px 10px 15px;
  color: red;
}

.filter div[class^='filter__block--sign'] div[class^='filter__block--other'] {
  margin: 0px 15px 15px 15px;
  text-align: center;
  cursor: pointer;
}

.filter .filter__block--signup {
  display: none;
}
/*# sourceMappingURL=common.css.map */