@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.out {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  z-index: 5;
}

.out .header {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .out .header {
    width: 100%;
  }
}

.out .header .blank {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.out .header > a {
  padding: 10px 0px 10px 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  color: #448899;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.out .header nav {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.out .header nav .nav__item {
  padding: 20px 10px;
  cursor: pointer;
}

.out .header nav .nav__item:hover {
  color: #9b9b9b;
}

.filter {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.filter div[class^='filter__block--sign'] {
  position: fixed;
  z-index: 7;
  top: 110px;
  width: 340px;
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: moveDown 0.5s;
          animation: moveDown 0.5s;
}

@-webkit-keyframes moveDown {
  from {
    top: 80px;
  }
  to {
    top: 110px;
  }
}

@keyframes moveDown {
  from {
    top: 80px;
  }
  to {
    top: 110px;
  }
}

.filter .filter__block--top {
  height: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-image: -webkit-gradient(linear, right top, left top, from(#337788), to(#66AABB));
  background-image: linear-gradient(to left, #337788, #66AABB);
}

.filter .filter__block--title {
  width: 310px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 15px 15px 5px 15px;
}

.filter .filter__block--closebtn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 99;
  top: 27px;
  right: 17px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.filter .filter__block--closebtn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.filter .filter__block--info-e {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  padding: 15px;
  margin: 10px 15px 0 15px;
  color: #666666;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.filter .filter__block--info-e:focus {
  outline: none;
}

.filter .filter__block--info {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  padding: 15px;
  margin: 10px 15px 0 15px;
  color: #666666;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.filter .filter__block--info:focus {
  outline: none;
}

.filter .filter__block--btn {
  margin: 10px 15px;
  width: 310px;
  height: 47px;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  color: #ffffff;
  background-color: #448899;
  cursor: pointer;
}

.filter div[class^='filter__block--errorMessage'] {
  margin: 0px 15px 10px 15px;
  height: 20px;
  text-align: center;
  color: #e71837;
}

.filter div[class^='filter__block--other'] {
  margin: 0px 15px 15px 15px;
  text-align: center;
  cursor: pointer;
}

.invalid {
  -webkit-box-shadow: 0px 0px 2px 1px #e76718;
          box-shadow: 0px 0px 2px 1px #e76718;
}

.valid {
  background-image: url("../png/check-circle-regular-24.png");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 97%;
  opacity: 1;
}
/*# sourceMappingURL=common.css.map */