{% extends "index.html" %}


{%block head%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/attraction/attraction.css')}}"/>
<script type="text/javascript" src="/static/attraction/attraction.js" defer></script>
<!-- <script type="text/javascript" src="/static/booking/booking.js" defer></script> -->

<title>Taipei Day Trip-景點資訊</title>
{%endblock%}

{%block content%}
<main>
    <div class="figure">
        <img id="img" class="site">
        <div class="button">
            <button class="figure__Lbutton" type="button" onclick="lundot('previous')"><img src="../static/png/btn_leftArrow.png"></button>
            <button class="figure__Rbutton" type="button" onclick="lundot('next')"><img src="../static/png/btn_rightArrow.png"></button>
        </div>
        <div class="dotsContainer"></div>
    </div>
    <figcaption>
        <h1></h1>
        <div><span id="type"></span> at <span id="mrt"></span></div>
        <form class="booking">
            <h2>訂購導覽行程</h2>
            <h3>以此景點為中心的一日行程，帶您探索城市角落故事</h3>
            <div class="booking__item">
                <h2>選擇日期：</h2>
                <input type="date" id="date" required><span id="date_alert"></span></div>
            <div class="booking__item">
                <h2>選擇時間：</h2>
                <div class="booking__item_time">
                    <input type="radio" id="morning" checked><label for="morning" class="booking__time">上半天</label>
                </div>
                <div class="booking__item_time">
                    <input type="radio" id="evening"><label for="evening" class="booking__time">下半天</label>
                </div>
            </div>
            <div class="booking__item">
                <h2 class="fee">導覽費用：</h2>  
                <h3>新台幣 <span id="money">2000</span> 元</h3>  </div>
            
            <button type="button" id="start_booking">開始預訂行程</button>
        </form>
    </figcaption>

</main>

<hr>

<article>

    <div id="description"></div>
    <h2>景點地址:</h2>
    <div id="address"></div>
    <h2>交通方式:</h2>
    <div id="traffic"></div>

</article>

    
{%endblock%}