{% extends "index.html" %}


{%block head%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='booking/booking.css')}}">
<script type="text/javascript" src="/static/booking/booking.js" defer></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
<title>Taipei Day Trip-預訂行程</title>
{%endblock%}

{%block content%}

<div class="booking">
    <div class="hello">您好，<span id="hello_name"></span>，待預訂的行程如下：</div>
    <div id="booking_data-0"></div>
    <div id="booking_data-1">
        <div class="schedule">
            <div class="schedule_figure">
                <img id="schedule_figure"> 
            </div>
            <div class="schedule_result">
                <div class="schedule_result-title">台北一日遊：<span id="schedule_result-title"></span></div>
                <div class="schedule_result_form">
                    <div>日期：</div><div id="schedule_result-date"></div>
                    <div>時間：</div><div id="schedule_result-time"></div>
                    <div>費用：</div><div>新台幣 <span id="schedule_result-fee"></span> 元</div>
                    <div>地點：</div><div id="schedule_result-place"></div>
                </div>
            </div>
            <div class="schedule_delete">
                <img id="delete" src="../static/png/icon_delete.png">
            </div>
        </div>
        <hr>
        <div class="input">
            <h2>您的聯絡資訊</h2>
            <form class="input_form">
                <label for="name">聯絡姓名：</label><input name="name" id="inform_name" readonly>
                <label for="email">聯絡信箱：</label><input name="email" id="inform_email" readonly>
                <label for="phone">手機號碼：</label><input name="phone" id="inform_phone">
            </form>
            <h3>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h3>
        </div>
        <hr>
        <div class="input">
            <h2>信用付款資訊</h2>
            <form class="card_form" >
                <label >卡片號碼：</label><div class="tpfield" id="card_number"></div>
                <label >過期時間：</label><div class="tpfield" id="card_expirdate"></div>
                <label >驗證密碼：</label><div class="tpfield" id="card_ccv"></div>
            </form>
        </div>
        <hr>
        <div class="check">
        
            <h3>總價：新台幣 <span id="check_fee"></span> 元</h3>
            <div>
                <button class="check_button" type="button" id="submit" disabled>確認訂購並付款
                    <div id="loader_submit">
                        <div class="loader_submit"></div>
                    </div>
                </button>
            </div>
            
            <div id="inform_error"></div>
        </div>
    </div>
   
</div>
<div id="loader">
    <div class="loader"></div>
</div>
{%endblock%}