{% extends "index.html" %}


{%block head%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='booking/booking.css')}}">
<script type="text/javascript" src="/static/booking/booking.js" defer></script>
<title>預定行程</title>
{%endblock%}

{%block content%}

<div class="booking">
    <div class="hello">您好，{}，待預定的行程如下：</div>
    <div class="schedule">
        <div class="schedule_figure">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ_GOAKpPUssPKm2AM32kU_ZNooPFZeT6V7w&usqp=CAU"> 
        </div>
        <div class="schedule_result">
            <div class="schedule_result-title" id="schedule_result-title">台北一日遊：{}</div>
            <div class="schedule_result_form">
                <div>日期：</div><div id="schedule_result-date"></div>
                <div>時間：</div><div id="schedule_result-time"></div>
                <div>費用：</div><div id="schedule_result-fee"></div>
                <div>地點：</div><div id="schedule_result-place"></div>
            </div>
        </div>
        <div class="schedule_delete" id="delete">
            <img id="delete" src="../static/png/icon_delete.png">
        </div>
    </div>
    <hr>
    <div>
        <h2>您的聯絡資訊</h2>
        <form class="booking_form">
            <label for="name">聯絡姓名：</label><input name="name" id="inform_name">
            <label for="email">聯絡信箱：</label><input name="email" id="inform_email">
            <label for="phone">手機號碼：</label><input name="phone" id="inform_phone">
        </form>
        <h3>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h3>
    </div>
    <hr>
    <div>
        <h2>信用付款資訊</h2>
        <form class="booking_form" action="">
            <label for="number">卡片號碼：</label><input type="password" placeholder="**** **** **** ****" name="number" id="card_number">
            <label for="expir-date">過期時間：</label><input placeholder="MM/YY" name="expir-date" id="card_date">
            <label for="cvv">驗證密碼：</label><input placeholder="CVV" name="cvv" id="card_cvv">
        </form>
    </div>
    
    <div class="check">
    <hr>
        <h3>總價：新台幣2000元</h3>
        <button class="check_button" type="submit" id="confirm" >確認訂購並付款</button>

    </div>

</div>
{%endblock%}