<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block head%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index/index.css')}}"/>
    <script type='text/javascript' src="/static/index/index.js" defer></script>
    <title>首頁</title>
    {%endblock%}
</head>
<body style="margin:0;padding:0">
    <div class="out">
        <div class="top">
            <div>台北一日遊</div>
            <nav>
                <a href="#">預定行程</a>
                <a href="#">登入/註冊</a>
            </nav>
        </div>
    </div>
    {%block content%}
    <div class="hero-image">
        <div class="hero-text">
            <h1>輕鬆享受台北一日悠閒</h1>
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
            <div class="search">
                <input type="text" placeholder="輸入景點名稱查詢">
                <!-- <button type="submit" >   先用button 之後再改submit -->
                <button type="button" >
                    <img src="static/png/icon_search.png">
                </button>
            </div>
        </div>
    </div>  
    
    <div class="wrapper">
        <div id="list">  </div>
      
    </div>

    {%endblock%}
    <footer>COPYRIGHT © 2021台北一日遊</footer>
</body>
</html>