{% extends "index.html" %}

{%block head%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='member/member.css')}}"/>
<script type="text/javascript" src="/static/member/member.js" defer></script>
<title>Taipei Day Trip-會員專區</title>
{%endblock%}

{%block content%}
<div id="member_all">
    <div class="member">
        <div class="member_pic">
            <div>
                <svg id="man" width="100" height="110">
                    <circle class="man_head" cx="50" cy="35" r="20"></circle>
                    <polygon class="man_body" points="20,92,35,65,65,65,80,92"></polygon>
                </svg>
            </div>
            <button id="logout">會員登出</button>
        </div>
        <div class="member_details">
            <div class="member_details_row">
                <div>會員名稱：</div><div id="mName"></div>
            </div>
            <div class="member_details_row">
                <div>帳號：</div><div id="mEmail"></div>
            </div>
            <div class="member_details_row">
                <div>密碼：</div><input type="password" id="mPassword" readonly/>
                <button id="changePassword"><img src="../static/png/edit-alt-regular-24.png"></button>
                <button id="savePassword"><img src="../static/png/save-regular-24.png"></button>
            </div>
            <div id="error_password"></div>
        </div>
    </div>
    <hr>

    <div class="order_list">
        <div class="order_list_title">我的預訂清單</div>
        <div class="order_list_head">
            <div id="t_number">訂單編號</div>
            <div id="t_date">日期</div>
            <div id="t_place">地點</div>
            <div id="t_price">金額</div>
        </div>
        <div id="order_list_body"></div>
       
    </div>
    <div class="order_details">
        <div class="order_details_item">
            <div>訂單編號： </div><div id="d_number"></div>
        </div>
        <div class="order_details_block">
            <img id="d_image">
            <div class="order_details_block_right">
                <div class="order_details_item">
                    <div>預訂日期： </div><div id="d_date"></div>
                </div>
                <div class="order_details_item">
                    <div>預訂時間： </div><div id="d_time"></div>
                </div>
                <div class="order_details_item">
                    <div>地點名稱： </div><div id="d_place"></div>
                </div>
                <div class="order_details_item">
                    <div>景點地址： </div><div id="d_address"></div>
                </div>
                <div class="order_details_item">
                    <div>聯絡姓名： </div><div id="d_name"></div>
                </div>
                <div class="order_details_item">
                    <div>聯絡手機： </div><div id="d_phone"></div>
                </div>
                <div class="order_details_item">
                    <div>付款狀態： </div><div id="d_status"></div>
                </div>
            </div>
        </div>  
        

    </div>
</div>
<div id="loader">
    <div class="loader"></div>
</div>

{%endblock%}