@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
$font-family:'Noto Sans TC', sans-serif;
$text-size:16px;
*{
    box-sizing: border-box;
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    font-family:'Noto Sans TC', sans-serif;
}
@mixin caption($side){
    font-weight: 400;
    text-align:$side;
    padding:12px 10px;
}
.out{ 
    border-bottom: none;
} 



.hero-image{
    height:320px; 
    background-image: url("../png/welcome.png"),linear-gradient(135deg,#AADDEE 0%,#66AABB 100%) ;
    background-position:85% 100%;
    background-repeat:no-repeat;
    font-family:$font-family;
    // display:flex;justify-content:center;align-items:center;
    // text-align: center;
    @media(max-width:600px){
        width:100%;
        height:280px; 
        background-image:url("../png/welcome 1.png"),linear-gradient(135deg,#AADDEE 0%,#66AABB 100%);
        background-position:right bottom ;}
    .hero-text {
        max-width:1180px;
        margin:0 auto;
        padding-top: 85px ;
        color: #f8f8f8;
        @media(max-width:1200px){width:95%;}
        @media(max-width:600px){padding-top:65px;padding-left:20px;max-width: 320px;margin:0;}
        h1{margin:0px;font-size:28px;font-weight: bold;}
        p{margin-top:15px;margin-bottom:25px;font-size: $text-size;font-weight: 400;}
        .search{
            box-sizing: border-box;
            margin:0px;
            width:460px;
            font-size:$text-size;
            display:flex;
            justify-content:space-between;
            align-items:center;
            @media(max-width:600px){max-width:290px;}
            .search__input{
                box-sizing: border-box;
                flex:auto;
                max-width: 400px;height:46px;
                padding:0px 15px;
                border-top-left-radius:5px;
                border-bottom-left-radius:5px;
                border:none;
                font-weight:bold;
                color:#757575;
                &:focus{
                    outline: none;

                }
                @media(max-width:600px){max-width:230px;}
            }
            .search__button{
                flex:none;width:60px;
                height:46px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border:none;   //去掉灰色的邊框
                background-color:#448899;
                display:block;
                cursor: pointer;
                img{
                    width:24px;
                }
                &:hover{
                    box-shadow:0px 0px 10px 1px #f8f8f8;
                    img{
                        margin:auto;
                        width:26px;
                    }
                }
            }      
        }
    }   
}
.wrapper{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    #list{
        box-sizing: border-box;
        margin:55px auto;
        max-width:1170px;
        display:grid;
        grid-template-columns:repeat(4,1fr);
        grid-gap:30px;
        grid-auto-rows:minmax(184px,auto);
        font-size: $text-size;
        font-family: $font-family;
        color:#757575;
        
        @media (max-width:1200px){
            grid-template-columns:repeat(2,1fr);margin:55px 18px;
            }
        @media (max-width:600px){
            grid-template-columns:1fr;
            grid-gap:15px;
        }
        .attraction{
            box-sizing: border-box;
            // width: 270px;   //還要修改?
            border: 1px solid #E8E8E8;
            border-radius:5px;
            display:block;
            cursor: pointer;
            &:hover{
                img{opacity: 0.8;}
            }
            @media (max-width:600px){
                // width:322px;
                grid-template-columns:1fr;
            }
            img{
                width:100%;
                aspect-ratio: 4/3;
                border-top-left-radius:5px;
                border-top-right-radius:5px;
                
            }
            figcaption{
                font-weight: bold;
                text-align: left;
                padding:10px;
            }
            .sort{
                display:flex;
                justify-content: space-between;
                .left{@include caption(left);}
                .right{@include caption(right);}
            }
        }
    }
}    
#loader{
    display: block;
    width:80px;
    height: 80px;
    margin:0 auto;
    
    .loader{
        width: 40px;
        height: 40px;
        margin: auto ;
        border-radius: 50%;
        border: 6px solid white;
        border-top:6px solid #66AABB;
        animation: spin 1s infinite linear;
    }
    @keyframes spin {
        0% { transform: rotate(40deg); }
        50% { transform: rotate(200deg); }
        100% { transform: rotate(400deg); }
    }   
}
footer {
    margin-top: 10px;
    background:#757575;
    height:104px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: $font-family;
    font-size:$text-size;
    font-weight: bold;
    color: white;
}



